.account{
    flex-direction: column;
    width: 75vw;
    /* height: 10vh; */
    margin:10px;
}
.accountInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #6B8EAE;
    color: black;
    /* margin-bottom:-3%; */
}

.valueTitle{
    margin-bottom: 5px;
    margin-top: 25px;
}

.accountText{
    margin-bottom: 20px;
    margin-top: 0px;
    color:#31405f;
    font-weight: 500;
}

.balanceText{
    margin-bottom: 20px;
    margin-top: 0px;
    color:white;
    font-weight: 500;
}

.downloadBtn{
    background-color:rgb(224, 224, 224);
    margin-top:-10px;
}

.spacing{
    margin-top:3%;
}