.form {
    justify-content: center;
    align-items: center;
    margin-top: -7vh;
    background-color: #6B8EAE;
    padding: 30px;
    border: 1px solid #31405f;
}

.formLabel {
    align-self: flex-end;
    /* padding-right: 5px; */


}

.formInput {
    width: 100%;
}

.button {
    align-self: center;
}

.error{
    color:crimson;
    font-size: 18px;
    font-weight: 500;
    margin-bottom:-3vh;
}